@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100vh;
}

body {
    background-image: radial-gradient(ellipse at top,hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}


.color-picker {
    color: #c76c1c;
}


